<div class="chart-item" [ngClass]="chart.theme" *ngFor="let chart of dashboardCharts">
  <div
    *ngIf="isManager"
    class="icon-panel action-icon pi pi-cog"
    (click)="createMenu(chart); cog.toggle($event);"
    pTooltip="Options"
    tooltipPosition="top"
  >
    <p-tieredMenu #cog appendTo="body" [model]="currentChartMenu" [popup]="true"></p-tieredMenu>
  </div>
  <div class="chart-title">{{chart.title}}</div>
  <app-chart
    class="chart"
    [chart]="chart"
    [data]="chart.data"
    [activeEntries]="chart.activeEntries">
  </app-chart>
</div>
