<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <!--<aspNetCore processPath="bin\Debug\netcoreapp2.1\DataAccumulator.WebAPI.dll" stdoutLogEnabled="tru" stdoutLogFile=".\logs\stdout" />-->
      <aspNetCore processPath="D:\Projects\Watcher\DataAccumulator\DataAccumulator.WebAPI\bin\Debug\netcoreapp3.0\DataAccumulator.WebAPI.exe" arguments="" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>