<ng-container [ngSwitch]="chart.type">
  <app-resource-table
    style="width:100%"
    *ngSwitchCase="type.ResourcesTable"
    [sources]="chart.dataSources"
    [data]="chart.colectedData">
  </app-resource-table>

  <ngx-charts-line-chart
    *ngSwitchCase="type.LineChart"
    class="chart-container"
    [scheme]="chart.colorScheme"
    [schemeType]="chart.schemeType"
    [results]="data"
    [activeEntries]="activeEntries"
    [legend]="chart.showLegend"
    [legendTitle]="chart.legendTitle"
    [gradient]="chart.gradient"
    [xAxis]="chart.showXAxis"
    [yAxis]="chart.showYAxis"
    [showXAxisLabel]="chart.showXAxisLabel"
    [showYAxisLabel]="chart.showYAxisLabel"
    [xAxisLabel]="chart.xAxisLabel"
    [yAxisLabel]="chart.yAxisLabel"
    [autoScale]="chart.autoScale"
    [showGridLines]="chart.showGridLines"
    [curve]="chart.curve"
    [rangeFillOpacity]="chart.rangeFillOpacity"
    [roundDomains]="chart.roundDomains"
    [tooltipDisabled]="chart.tooltipDisabled"
    [xAxisTickFormatting]="chart.dateTickFormatting">
  </ngx-charts-line-chart>

  <ngx-charts-bar-vertical
    ngSwitchCase="type.BarVertical"
    class="chart-container"
    [scheme]="chart.colorScheme"
    [schemeType]="chart.schemeType"
    [results]="data"
    [activeEntries]="activeEntries"
    [gradient]="chart.gradient"
    [xAxis]="chart.showXAxis"
    [yAxis]="chart.showYAxis"
    [legend]="chart.showLegend"
    [legendTitle]="chart.legendTitle"
    [showXAxisLabel]="chart.showXAxisLabel"
    [showYAxisLabel]="chart.showYAxisLabel"
    [tooltipDisabled]="chart.tooltipDisabled"
    [xAxisLabel]="chart.xAxisLabel"
    [yAxisLabel]="chart.yAxisLabel"
    [showGridLines]="chart.showGridLines">
  </ngx-charts-bar-vertical>

  <ngx-charts-bar-horizontal
    ngSwitchCase="type.BarHorizontal"
    class="chart-container"
    [scheme]="chart.colorScheme"
    [schemeType]="chart.schemeType"
    [results]="data"
    [activeEntries]="activeEntries"
    [gradient]="chart.gradient"
    [xAxis]="chart.showXAxis"
    [yAxis]="chart.showYAxis"
    [legend]="chart.showLegend"
    [legendTitle]="chart.legendTitle"
    [showXAxisLabel]="chart.showXAxisLabel"
    [showYAxisLabel]="chart.showYAxisLabel"
    [tooltipDisabled]="chart.tooltipDisabled"
    [xAxisLabel]="chart.xAxisLabel"
    [yAxisLabel]="chart.yAxisLabel"
    [showGridLines]="chart.showGridLines">
  </ngx-charts-bar-horizontal>

  <ngx-charts-bar-vertical-2d
    ngSwitchCase="type.BarVertical2D"
    class="chart-container"
    [scheme]="chart.colorScheme"
    [schemeType]="chart.schemeType"
    [results]="data"
    [activeEntries]="activeEntries"
    [gradient]="chart.gradient"
    [xAxis]="chart.showXAxis"
    [yAxis]="chart.showYAxis"
    [legend]="chart.showLegend"
    [legendTitle]="chart.legendTitle"
    [showXAxisLabel]="chart.showXAxisLabel"
    [showYAxisLabel]="chart.showYAxisLabel"
    [tooltipDisabled]="chart.tooltipDisabled"
    [xAxisLabel]="chart.xAxisLabel"
    [yAxisLabel]="chart.yAxisLabel"
    [showGridLines]="chart.showGridLines"
    xxxbarPadding="chart.barPadding"
    xxxgroupPadding="chart.groupPadding"
    [roundDomains]="chart.roundDomains">
  </ngx-charts-bar-vertical-2d>

  <ngx-charts-bar-horizontal-2d
    ngSwitchCase="type.BarHorizontal2D"
    class="chart-container"
    [scheme]="chart.colorScheme"
    [schemeType]="chart.schemeType"
    [results]="data"
    [activeEntries]="activeEntries"
    [gradient]="chart.gradient"
    [tooltipDisabled]="chart.tooltipDisabled"
    [xAxis]="chart.showXAxis"
    [yAxis]="chart.showYAxis"
    [legend]="chart.showLegend"
    [legendTitle]="chart.legendTitle"
    [showXAxisLabel]="chart.showXAxisLabel"
    [showYAxisLabel]="chart.showYAxisLabel"
    [xAxisLabel]="chart.xAxisLabel"
    [yAxisLabel]="chart.yAxisLabel"
    [showGridLines]="chart.showGridLines"
    [roundDomains]="chart.roundDomains">
  </ngx-charts-bar-horizontal-2d>

  <ngx-charts-bar-vertical-stacked
    ngSwitchCase="type.BarVerticalStacked"
    class="chart-container"
    [scheme]="chart.colorScheme"
    [schemeType]="chart.schemeType"
    [results]="data"
    [activeEntries]="activeEntries"
    [gradient]="chart.gradient"
    [tooltipDisabled]="chart.tooltipDisabled"
    [xAxis]="chart.showXAxis"
    [yAxis]="chart.showYAxis"
    [legend]="chart.showLegend"
    [legendTitle]="chart.legendTitle"
    [showXAxisLabel]="chart.showXAxisLabel"
    [showYAxisLabel]="chart.showYAxisLabel"
    [xAxisLabel]="chart.xAxisLabel"
    [yAxisLabel]="chart.yAxisLabel"
    [showGridLines]="chart.showGridLines"
    [roundDomains]="chart.roundDomains">
  </ngx-charts-bar-vertical-stacked>

  <ngx-charts-bar-horizontal-stacked
    ngSwitchCase="type.BarHorizontalStacked"
    class="chart-container"
    [scheme]="chart.colorScheme"
    [schemeType]="chart.schemeType"
    [results]="data"
    [activeEntries]="activeEntries"
    [gradient]="chart.gradient"
    [xAxis]="chart.showXAxis"
    [yAxis]="chart.showYAxis"
    [legend]="chart.showLegend"
    [legendTitle]="chart.legendTitle"
    [showXAxisLabel]="chart.showXAxisLabel"
    [showYAxisLabel]="chart.showYAxisLabel"
    [xAxisLabel]="chart.xAxisLabel"
    [yAxisLabel]="chart.yAxisLabel"
    [showGridLines]="chart.showGridLines"
    [roundDomains]="chart.roundDomains">
  </ngx-charts-bar-horizontal-stacked>

  <ngx-charts-bar-vertical-normalized
    ngSwitchCase="type.BarVerticalNormalized"
    class="chart-container"
    [scheme]="chart.colorScheme"
    [schemeType]="chart.schemeType"
    [results]="data"
    [activeEntries]="activeEntries"
    [gradient]="chart.gradient"
    [tooltipDisabled]="chart.tooltipDisabled"
    [xAxis]="chart.showXAxis"
    [yAxis]="chart.showYAxis"
    [legend]="chart.showLegend"
    [legendTitle]="chart.legendTitle"
    [showXAxisLabel]="chart.showXAxisLabel"
    [showYAxisLabel]="chart.showYAxisLabel"
    [xAxisLabel]="chart.xAxisLabel"
    [yAxisLabel]="chart.yAxisLabel"
    [showGridLines]="chart.showGridLines"
    [roundDomains]="chart.roundDomains">
  </ngx-charts-bar-vertical-normalized>

  <ngx-charts-bar-horizontal-normalized
    ngSwitchCase="type.BarHorizontalNormalized"
    class="chart-container"
    [scheme]="chart.colorScheme"
    [schemeType]="chart.schemeType"
    [results]="data"
    [activeEntries]="activeEntries"
    [gradient]="chart.gradient"
    [tooltipDisabled]="chart.tooltipDisabled"
    [xAxis]="chart.showXAxis"
    [yAxis]="chart.showYAxis"
    [legend]="chart.showLegend"
    [legendTitle]="chart.legendTitle"
    [showXAxisLabel]="chart.showXAxisLabel"
    [showYAxisLabel]="chart.showYAxisLabel"
    [xAxisLabel]="chart.xAxisLabel"
    [yAxisLabel]="chart.yAxisLabel"
    [showGridLines]="chart.showGridLines"
    [roundDomains]="chart.roundDomains">
  </ngx-charts-bar-horizontal-normalized>

  <ngx-charts-polar-chart
    ngSwitchCase="type.PolarChart"
    class="chart-container"
    [scheme]="chart.colorScheme"
    [schemeType]="chart.schemeType"
    [results]="data"
    [activeEntries]="activeEntries"
    [legend]="chart.showLegend"
    [legendTitle]="chart.legendTitle"
    [gradient]="chart.gradient"
    [xAxis]="chart.showXAxis"
    [yAxis]="chart.showYAxis"
    [showXAxisLabel]="chart.showXAxisLabel"
    [showYAxisLabel]="chart.showYAxisLabel"
    [xAxisLabel]="chart.xAxisLabel"
    [yAxisLabel]="chart.yAxisLabel"
    [autoScale]="chart.autoScale"
    [showGridLines]="chart.showGridLines"
    [rangeFillOpacity]="chart.rangeFillOpacity"
    [roundDomains]="chart.roundDomains"
    [tooltipDisabled]="chart.tooltipDisabled"
    [curve]="chart.curveClosed">
  </ngx-charts-polar-chart>

  <ngx-charts-area-chart
    ngSwitchCase="type.AreaChart"
    class="chart-container"
    [scheme]="chart.colorScheme"
    [schemeType]="chart.schemeType"
    [results]="data"
    [activeEntries]="activeEntries"
    [legend]="chart.showLegend"
    [legendTitle]="chart.legendTitle"
    [xAxis]="chart.showXAxis"
    [yAxis]="chart.showYAxis"
    [showXAxisLabel]="chart.showXAxisLabel"
    [showYAxisLabel]="chart.showYAxisLabel"
    [xAxisLabel]="chart.xAxisLabel"
    [yAxisLabel]="chart.yAxisLabel"
    [autoScale]="chart.autoScale"
    [roundDomains]="chart.roundDomains"
    [showGridLines]="chart.showGridLines"
    [curve]="chart.curve"
    [tooltipDisabled]="chart.tooltipDisabled"
    [xAxisTickFormatting]="chart.dateTickFormatting">
  </ngx-charts-area-chart>

  <ngx-charts-area-chart-stacked
    ngSwitchCase="type.AreaChartStacked"
    class="chart-container"
    [scheme]="chart.colorScheme"
    [schemeType]="chart.schemeType"
    [results]="data"
    [legend]="chart.showLegend"
    [legendTitle]="chart.legendTitle"
    [gradient]="chart.gradient"
    [xAxis]="chart.showXAxis"
    [yAxis]="chart.showYAxis"
    [showXAxisLabel]="chart.showXAxisLabel"
    [showYAxisLabel]="chart.showYAxisLabel"
    [xAxisLabel]="chart.xAxisLabel"
    [yAxisLabel]="chart.yAxisLabel"
    [showGridLines]="chart.showGridLines"
    [roundDomains]="chart.roundDomains"
    [tooltipDisabled]="chart.tooltipDisabled"
    [curve]="chart.curve">
  </ngx-charts-area-chart-stacked>

  <ngx-charts-area-chart-normalized
    ngSwitchCase="type.AreaChartNormalized"
    class="chart-container"
    [scheme]="chart.colorScheme"
    [schemeType]="chart.schemeType"
    [results]="data"
    [legend]="chart.showLegend"
    [legendTitle]="chart.legendTitle"
    [gradient]="chart.gradient"
    [xAxis]="chart.showXAxis"
    [yAxis]="chart.showYAxis"
    [showXAxisLabel]="chart.showXAxisLabel"
    [showYAxisLabel]="chart.showYAxisLabel"
    [xAxisLabel]="chart.xAxisLabel"
    [yAxisLabel]="chart.yAxisLabel"
    [showGridLines]="chart.showGridLines"
    [roundDomains]="chart.roundDomains"
    [tooltipDisabled]="chart.tooltipDisabled"
    [curve]="chart.curve">
  </ngx-charts-area-chart-normalized>

  <ngx-charts-pie-chart
    ngSwitchCase="type.Pie"
    [scheme]="chart.colorScheme"
    [results]="data"
    [activeEntries]="activeEntries"
    [legend]="chart.showLegend"
    [legendTitle]="chart.legendTitle"
    [explodeSlices]="false"
    [labels]="chart.showXAxisLabel"
    [doughnut]="false"
    [gradient]="chart.gradient"
    [tooltipDisabled]="chart.tooltipDisabled">
  </ngx-charts-pie-chart>

  <ngx-charts-pie-grid
    ngSwitchCase="type.PieGrid"
    [scheme]="chart.colorScheme"
    [results]="data">
  </ngx-charts-pie-grid>

  <ngx-charts-advanced-pie-chart
    ngSwitchCase="type.AdvancedPie"
    class="chart-container"
    [scheme]="chart.colorScheme"
    [results]="data"
    [gradient]="chart.gradient"
    [tooltipDisabled]="chart.tooltipDisabled">
  </ngx-charts-advanced-pie-chart>

  <ngx-charts-gauge
    ngSwitchCase="type.Gauge"
    [scheme]="chart.colorScheme"
    [results]="data"
    [activeEntries]="activeEntries"
    [units]="chart.yAxisLabel"
    [min]="chart.yScaleMin"
    [max]="chart.yScaleMax">
  </ngx-charts-gauge>

  <ngx-charts-heat-map
    ngSwitchCase="type.HeatMap"
    class="chart-container"
    [scheme]="chart.colorScheme"
    [results]="data"
    [legend]="chart.showLegend"
    [gradient]="chart.gradient"
    [xAxis]="chart.showXAxis"
    [yAxis]="chart.showYAxis"
    [showXAxisLabel]="chart.showXAxisLabel"
    [showYAxisLabel]="chart.showYAxisLabel"
    [xAxisLabel]="chart.xAxisLabel"
    [yAxisLabel]="chart.yAxisLabel"
    [tooltipDisabled]="chart.tooltipDisabled">
  </ngx-charts-heat-map>

  <ngx-charts-tree-map
    ngSwitchCase="type.TreeMap"
    [scheme]="chart.colorScheme"
    [results]="data"
    [gradient]="chart.gradient"
    [tooltipDisabled]="chart.tooltipDisabled">
  </ngx-charts-tree-map>

  <ngx-charts-number-card
    ngSwitchCase="type.NumberCards"
    [scheme]="chart.colorScheme"
    cardColor="#232837"
    [results]="data">
  </ngx-charts-number-card>
</ng-container>
